{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
{#<div class="layout-container">

  <header role="banner">
    {{ page.header }}
  </header>

  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>#}{# link is in html.html.twig #}{#

    <div class="layout-content">
      {{ page.content }}
    </div>#}{# /.layout-content #}{#

    {% if page.sidebar %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar }}
      </aside>
    {% endif %}

  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>#}{# /.layout-container #}



<!-- Navigation
    ================================================== -->

<nav class="navbar navbar-dark bg-inverse bg-inverse-custom navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <span class="icon-logo"></span>
      <span class="sr-only">Land.io</span>
    </a>
    <a class="navbar-toggler hidden-md-up pull-xs-right" data-toggle="collapse" href="#collapsingNavbar" aria-expanded="false" aria-controls="collapsingNavbar">
      &#9776;
    </a>
    <a class="navbar-toggler navbar-toggler-custom hidden-md-up pull-xs-right" data-toggle="collapse" href="#collapsingMobileUser" aria-expanded="false" aria-controls="collapsingMobileUser">
      <span class="icon-user"></span>
    </a>
    <div id="collapsingNavbar" class="collapse navbar-toggleable-custom" role="tabpanel" aria-labelledby="collapsingNavbar">
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item nav-item-toggable active">
          <a class="nav-link" href="./index.html"><small>NEW</small> Slides <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item nav-item-toggable">
          <a class="nav-link" href="ui-elements.html">UI Kit</a>
        </li>
        <li class="nav-item nav-item-toggable">
          <a class="nav-link" href="https://github.com/tatygrassini/landio-html" target="_blank">GitHub</a>
        </li>
        <li class="nav-item nav-item-toggable hidden-md-up">
          <form class="navbar-form">
            <input class="form-control navbar-search-input" type="text" placeholder="Type your search &amp; hit Enter&hellip;">
          </form>
        </li>
        <li class="navbar-divider hidden-sm-down"></li>
        <li class="nav-item dropdown nav-dropdown-search hidden-sm-down">
          <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="icon-search"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-search" aria-labelledby="dropdownMenu1">
            <form class="navbar-form">
              <input class="form-control navbar-search-input" type="text" placeholder="Type your search &amp; hit Enter&hellip;">
            </form>
          </div>
        </li>
        <li class="nav-item dropdown hidden-sm-down textselect-off">
          <a class="nav-link dropdown-toggle nav-dropdown-user" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{ directory }}/img/face5.jpg" height="40" width="40" alt="Avatar" class="img-circle"> <span class="icon-caret-down"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-user dropdown-menu-animated" aria-labelledby="dropdownMenu2">
            <div class="media">
              <div class="media-left">
                <img src="{{ directory }}/img/face5.jpg" height="60" width="60" alt="Avatar" class="img-circle">
              </div>
              <div class="media-body media-middle">
                <h5 class="media-heading">Joel Fisher</h5>
                <h6>hey@joelfisher.com</h6>
              </div>
            </div>
            <a href="#" class="dropdown-item text-uppercase">View posts</a>
            <a href="#" class="dropdown-item text-uppercase">Manage groups</a>
            <a href="#" class="dropdown-item text-uppercase">Subscription &amp; billing</a>
            <a href="#" class="dropdown-item text-uppercase text-muted">Log out</a>
            <a href="#" class="btn-circle has-gradient pull-xs-right">
              <span class="sr-only">Edit</span>
              <span class="icon-edit"></span>
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div id="collapsingMobileUser" class="collapse navbar-toggleable-custom dropdown-menu-custom p-x-1 hidden-md-up" role="tabpanel" aria-labelledby="collapsingMobileUser">
      <div class="media m-t-1">
        <div class="media-left">
          <img src="{{ directory }}/img/face5.jpg" height="60" width="60" alt="Avatar" class="img-circle">
        </div>
        <div class="media-body media-middle">
          <h5 class="media-heading">Joel Fisher</h5>
          <h6>hey@joelfisher.com</h6>
        </div>
      </div>
      <a href="#" class="dropdown-item text-uppercase">View posts</a>
      <a href="#" class="dropdown-item text-uppercase">Manage groups</a>
      <a href="#" class="dropdown-item text-uppercase">Subscription &amp; billing</a>
      <a href="#" class="dropdown-item text-uppercase text-muted">Log out</a>
      <a href="#" class="btn-circle has-gradient pull-xs-right m-b-1">
        <span class="sr-only">Edit</span>
        <span class="icon-edit"></span>
      </a>
    </div>
  </div>
</nav>

<!-- Hero Section
    ================================================== -->

<header id="landioCarousel" class="carousel carousel-header slide bg-inverse" data-ride="carousel" data-interval="0" role="banner">
  <ol class="carousel-indicators">
    <li data-target="#landioCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#landioCarousel" data-slide-to="1"></li>
    <li data-target="#landioCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active" style="background-image: url({{ directory }}/img/bg-header.jpg);">
      <div class="carousel-caption">
        <h1 class="display-3">Bootstrap powered slides.</h1>
        <h2 class="m-b-3 hidden-sm-down"><em>Yay, Slides!</em> Create CTA slides with <a href="index.html" class="jumbolink">Land.io</a>.</h2>
        <a class="btn btn-secondary-outline m-b-2" href="http://tympanus.net/codrops/?p=25217" role="button"><span class="icon-sketch"></span>Sketch included</a>
      </div>
    </div>
    <div class="carousel-item" style="background-image: url({{ directory }}/img/bg-header-3.jpg);">
      <div class="carousel-caption">
        <h1 class="display-3">Land.io, open source.</h1>
        <h2 class="m-b-3 hidden-sm-down">Includes <strong>all assests</strong> for easy customization.</h2>
        <a class="btn btn-secondary-outline m-b-2" href="http://tympanus.net/codrops/?p=25217" role="button"><span class="icon-sketch"></span>Sketch included</a>
      </div>
    </div>
    <div class="carousel-item" style="background-image: url({{ directory }}/img/bg-header-2.jpg);">
      <div class="carousel-caption">
        <h1 class="display-3">Land.io, blissful innovation.</h1>
        <h2 class="m-b-3 hidden-sm-down">Craft your journey, <em>absolutely free</em>, with <a href="ui-elements.html" class="jumbolink">Land.io UI kit</a>.</h2>
        <a class="btn btn-secondary-outline m-b-2" href="http://tympanus.net/codrops/?p=25217" role="button"><span class="icon-sketch"></span>Sketch included</a>
      </div>
    </div>
    <ul class="nav nav-inline social-share">
      <li class="nav-item"><a class="nav-link" href="#"><span class="icon-twitter"></span> 1024</a></li>
      <li class="nav-item"><a class="nav-link" href="#"><span class="icon-facebook"></span> 562</a></li>
      <li class="nav-item"><a class="nav-link" href="#"><span class="icon-linkedin"></span> 356</a></li>
    </ul>
  </div>
</header>